.Hero{
    display: flex;
}

.Hero img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    display: flex;
    font-size: 80px;
    justify-content: center;
    align-items: center;

}

.info{
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
}