
.Know{
    display: flex;
    margin-top: 60px;
    margin-left: 60px;
    align-items: center;
    font-size: 50px;
}

.cardSlider {
    margin: 80px;
    display: flex;
    align-items: end;
    overflow-x: auto;
    gap: 2rem;
}

.cardSlider img {
    scroll-snap-align: start;
    height: 600px;
    width: 450px;
    border-radius: 30px;

}

.cardSlider::-webkit-scrollbar {
    display: none;
}