* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Container styles */
.container {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .container {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 5px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 5px;
        width: 100%;
    }
}
