.Why {

    display: flex;
    margin-top: 60px;
    margin-left: 60px;
    align-items: center;
    font-size: 50px;
}

.cardSlider {
    margin: 80px;
    display: flex;
   
    gap: 2rem;
}

.cardSlider img {
    height: 150px;
    width: 150px;
}
